:local {
  .dashboard {
    .title {
      display: flex;
      height: 45px;
      background-image: linear-gradient(90deg, #2e86de, #54a0ff);
      span {
        font-size: 22px;
        margin: auto 20px;
        color: white;
        text-align: center;
      }
    }
    .toolbar {
      display: flex;
    }
  }
}